<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<ion-card>
  <ion-item >


      <ion-img class="img" src="assets/image/isga.png"></ion-img>

  </ion-item>
      <ion-footer class="ion-no-border">
        <ion-toolbar>
          <div class="text">
            <ion-title>&copy; Isga Casablanca 2021-2022 </ion-title>
            <ion-label color="primary">Projet casaHotel By <strong> ARAFA Mouad</strong></ion-label>
          </div>

        </ion-toolbar>
      </ion-footer>

</ion-card>
</ion-content>
